/*김세아 포트폴리오 pc.css */
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
ul {list-style-type: none;}
a {
  text-decoration: none;
  color: #666;
}
html, body{ height: 100%;
}
button { 
  background: none;
  border: none;
  outline: none;
}
/* body { overflow: hidden; } */
body {
  color: #666;;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  font-size: 100%;
}
section{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  position: relative;
  flex: 1;
  min-width: 1400px;
  max-width: 1400px;
  /* outline: 1px solid red; */
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}
h1 { font-size: 40px;}
h2 { font-size: 24px;}
/* 섹션 */
#home{
  background: #000;
}
#about{
  background: #D4E5E9;
}
#portfolio{
  background: #fff;
}
#career{
  background: #D4E5E9;
}
#contact{
  background: #FFE6DC;
}

/* 우측 페이지 인디케이터 */
#pager {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 9;
}
#pager li.on a {
  color: #FCB08C;
}

/* 메인메뉴 */
  /*화면의 고정 포지션*/
#main_header {
  position: fixed;
  background-color: #FFF;
  color: #666;
  /*box-shadow: 1px 1px rgba(100, 100, 100, 0.7);*/
  width: 100%;
  height: 90px;
  min-width: 768px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
#main_header > h1 {
  position: absolute;
  left: 20px; top: 10px;
}
#main_header .container {
  padding-top: 0px;
}
#main_gnb {
  position: relative;
  float: right;
  text-align: right;
  background: #fff;
  padding-top: 29px;
}
header #main_gnb li{
  display: inline-block;
}
#main_header > .container > h1 {
  float: left;
  padding-top: 19px;
}
#main_header > .container > .nav_group {
  float: right;
  padding-top: 30px;
  color: #666;
}
#main_header > .container #main_gnb li {
  display: inline-block;
  margin-left: 1.5em; margin-right: 1.5em;
  font-size: 16px;
}
/* gnb hover */
#main_gnb a:hover {
  color: #FCB08C;
  font-weight: bold;
} 

.title_line {
  display: block;
  border-bottom: 5px solid #fff;
  width: 120px; height: 2px;
  margin: 0px auto;
  margin-bottom: 50px;
}
.you-bg{
  background: #fff;
  height: 100%;
  background-image: url("https://youtu.be/LN8RNhbzn6E");
/*이미지가 패턴이 되지않고 가득채워짐*/
  background-size:cover ;
}
.header_group {
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-m 1s ease infinite alternate;
}
@keyframes arrow-m {
  from {
      bottom: 120px;
  }
  to {
      bottom: 110px;
  }
}

/* about 섹션 */
#about .container {
  overflow: hidden;
  /* outline: 1px solid red; */
}
#about article {
  width: 49.25%;
  float: left;
  /*outline: 1px solid green;*/
}
#about article:last-child {
  margin-right: 0;
}
#about .list {
  width: 605px;
  float: right;
}
#about .list ul {
  margin-bottom: 70px;
  letter-spacing: 1px;
  text-align: left;
}
#about .list ul li {
  line-height: 2.4em;
}
#about .list ul li p{
  color:#999;
  font-size: 14px;
}
#about .list ul li .date{
  float: right;
  color: #666;
  font-size: 0.87em;
}
.line { 
  outline: 0.2px solid #999;
  margin-bottom: 24px;}


/*portfolio 섹션*/
#portfolio .title_line {
  border-bottom: 5px solid #D4E5E9;
}
#portfolio .button-group button{
  width: 334px;
  float: left;
  padding: 10px 20px;
  font-size: 18px;
  color: #666;
  background: #D4E5E9;
  border: 1px solid #fff;
  outline: none;
  margin-right: 20px;
  margin-bottom: 60px;
  transition: 0.5s;
}
#portfolio .button-group button:nth-child(4) { 
  margin-right: 0;
  }
#portfolio .button-group button:hover{
  background: #fff;
  color: #999;
  border: 1px solid #D4E5E9;
  cursor: pointer;
  }

#portfolio ul > li {
  width: 334px;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
}
#portfolio ul > li:nth-child(4),#portfolio ul > li:nth-child(8) { 
  margin-right: 0;
  }
#portfolio ul > li img {
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.more {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    position: relative;
}
.more > a {
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 15px;
}
.more-view {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    transform: scale(0.95);
    opacity: 0;
    transition: 0.5s;
    left: 0;
    top: 0;
}

/*확대버튼
.gallery a{
position: relative;
}
.gallery a .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 334px;
  height: 334px;
  background: rgba(0,0,0,0.5);
  transition: 0.5s;
}
.gallery a:hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 334px;
  height: 334px;
  background: rgba(0,0,0,0.5);  
}
.gallery .box a .cover .fas{
  display: none;
}
.gallery .box a .cover:hover .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ccc;
  font-size: 3em;
  display: block;
}

확대버튼수정
.gallery .box .package-sub a{
  position: relative;
}
.gallery .box .package-sub a .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 370px;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
    
}
.gallery .box .package-sub a:hover .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 370px;
    background: rgba(0,0,0,0.5);
    
}
.gallery .box .package-sub a .cover .fas{
    display: none;
}
.gallery .box .package-sub a .cover:hover .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ccc;
    font-size: 3em;
    display: block;
}

.gallery .branding a:hover .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  background: rgba(0,0,0,0.5);
}

#portfolio .gallery .box{
  margin-top: 50px;
  height: 360px;
  width: 100%;
  display: none;
}
#portfolio .gallery .box img{
  vertical-align: middle;
}
#portfolio .gallery .box.show{
  display: block;
}
#portfolio .gallery .box a{
  width: 360px;
  border: 1px solid #ccc;
  margin-right: 13px;
  margin-top: 13px;
  overflow: hidden;
  }
#portfolio .gallery .box a{
  display:inline-block;
}
#portfolio .gallery .box a:nth-child(4n){
  margin-right: 0 ;
}
#portfolio .gallery .package .package-sub{
  display: flex;
  flex-direction: column;
  width: 600px;
float: left;
/* justify-content: space-around; */
/* align-items: flex-start; */
/*
margin: 0;
padding: 0;
}
#portfolio .gallery .package>a{
 float: left;
 margin-left: 3%;
}
#portfolio .gallery .package{
  margin-left:8%;
}

@media (max-width:1217px){
  #portfolio .gallery .box a:nth-child(4n){
      margin-right: 13px ;
  }
  #portfolio .section-title{
      height: 900px;
  }

#portfolio .gallery .package .package-sub a{
  overflow: visible;
}
#portfolio .gallery .package .package-sub a img{
  width: 600px;
}

#portfolio .gallery .pop{
  text-align: center;
  margin-left:40px;
}
#portfolio .gallery .pop a{
width: 200px;
float: left;
margin-right: 2.5% !important;
}

#portfolio .ad p{
  font-size:25px;
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  width: 300px;
  height: 50px;
 line-height: 50px;
 font-family: 'Saira Extra Condensed', sans-serif;
}  */

/* career 섹션 */
#career .container {
  overflow: hidden;
  text-align: center;
  /* outline: 1px solid red; */
}
/* contact 섹션 */
#contact article {
  float: left;
  text-align: left;
  margin-top: 30px;
}
#contact article:last-child {
  width: 620px;
  float: right;
}
#contact .fine li {
  display: inline-block;
  float: left;
  margin-right: 24px;
}
.fine {
  margin-top: 130px;
}
#contact ul {
  margin-top: 18px; 
  text-align: left;
  }
#contact ul li {
  line-height: 3em;
}
.contact-form{
  width: 600px;
  height: 470px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
  padding: 20px;
  background: #fff;
  transform: translateY(20px);
  z-index: 9;
}
.contact-form #name,
.contact-form #email,
.contact-form #message{
  width: 560px;
  padding: 18px 18px;
  margin-bottom: 14px;
  border: 1px solid #999;
  font-size: 16px;
}

#contact .drop ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-form button{ font-size: 16px;}
.btn{
  width: 560px;
  display: inline-block;
  background: #666;
  color: #fff;
  padding: 18px 18px;

}
.btn:hover{
  background: #fff;
  color: #666;
  border: 1px solid #999;
}


/*푸터*/
#main_footer {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #666;
  color: #ccc;
}
#main_footer .container p {
  font-size: 14px;
  text-align: center;
  margin: 0px auto;
  margin-top: 100px;
}